<h1>Models Year List</h1>

<%= paginate @models %>

<table>
  <tr>
    <th>Manufacturer</th>
    <th>Year</th>
    <th>Model</th>
    <th>Fuel</th>
    <th>HP</th>
    <th>Cylinders</th>
    <th>Transmission</th>
    <th>Driven wheels</th>
    <th>Style</th>
    <th>Highway MPG</th>
    <th>City MPG</th>
    <th>MSRP</th>
  </tr>
  <% @models.each do |model| %>
    <tr>
      <td><%= model.year.make %></td>
      <td><%= model.year.year %></td>
      <td><%= model.name %></td>
      <td><%= model.fuel %></td>
      <td><%= model.horsepower %></td>
      <td><%= model.cylinder %></td>
      <td><%= model.transmission %></td>
      <td><%= model.driven_wheel %></td>
      <td><%= model.style%></td>
      <td><%= model.highway_mpg %></td>
      <td><%= model.city_mpg %></td>
      <td><%= model.msrp %></td>
    </tr>
  <% end %>
</table>

<%= paginate @models %>
